<section id="service">
    <div class="title-text">
        <p>SERVICES</p>
        <h1>We Provide Better</h1>
        <div class="service-box">
            <div class="single-service">
                <img src="../assets/img/pic-1.jpg" alt="">
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>Hair Styling</h3>
                    <hr>
                    <p>This is test under description of barber foundation this is test under description of barber foundation.</p>
                </div>
            </div>
            <div class="single-service">
                <img src="../assets/img/pic-2.jpg" alt="">
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>Beard Trim</h3>
                    <hr>
                    <p>This is test under description of barber foundation this is test under description of barber foundation.</p>
                </div>
            </div>
            <div class="single-service">
                <img src="../assets/img/pic-3.jpg" alt="">
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>Dry Shades</h3>
                    <hr>
                    <p>This is test under description of barber foundation this is test under description of barber foundation.</p>
                </div>
            </div>
        <div class="single-service">
            <img src="../assets/img/pic-4.jpg" alt="">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>Hair cut</h3>
                <hr>
                <p>This is test under description of barber foundation this is test under description of barber foundation.</p>
            </div>
        </div>
    </div>
</div>
</section>