<section id="testimonial">
    <div class="title-text">
        <p>TESTIMONIAL</p>
        <h1>What Client Says</h1>
    </div>
  
    <div class="testimonial-row">
        <div class="testimonial-col">
            <div class="user">
                <img src="../assets/img/img-1.jpg">
                <div class="user-info">
                    <h4>KEN NORMAN <i class="fa fa-twitter"></i></h4>
                    <small>@kennorman</small>
                </div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit neque iusto assumenda mollitia quas ut ipsa. Quidem aspernatur deleniti, nostrum saepe autem assumenda deserunt esse ab, ipsam voluptates eligendi officiis.</p>
        </div>
        <div class="testimonial-col">
            <div class="user">
                <img src="../assets/img/img-2.jpg">
                <div class="user-info">
                    <h4>Liara Karian <i class="fa fa-twitter"></i></h4>
                    <small>@liarakarian</small>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reprehenderit ipsam nihil voluptas cupiditate? Impedit nihil libero nostrum, voluptate cum culpa eaque nobis sequi. Pariatur nobis doloribus cum aliquam illum!</p>
        </div>
        <div class="testimonial-col">
            <div class="user">
                <img src="../assets/img/img-3.jpg">
                <div class="user-info">
                    <h4>Ricky Danial <i class="fa fa-twitter"></i></h4>
                    <small>@rickydanial</small>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia reiciendis expedita aperiam harum illum sed, ipsa repudiandae, incidunt tempore cupiditate eum ut non aliquid consequatur nisi quas, corporis fugit assumenda.</p>
        </div>
    </div>
</section>