<section id="banner">
  <img src="../assets/img/logo.png" class="logo">
  <div class="banner-text">
      <h1>Hair Studio</h1>
      <p>Style Your Hair Is Style Your Life</p>
      <div class="banner-btn">
          <a href="#"><span></span>Find Out</a>
          <a href="#"><span></span>Read More</a>
      </div>
  </div>
</section>

<div id="side-nav" #sidenav>
  <nav>
      <ul>
          <li><a href="#banner">HOME</a></li>
          <li><a href="#feature">FEATURES</a></li>
          <li><a href="#service">SERVICES</a></li>
          <li><a href="#testimonial">TESTIMONIALS</a></li>
          <li><a href="#footer">MEET US</a></li>
      </ul>
  </nav>
</div>
<div id="menuBtn" (click)="closed == true ? onOpenSidenav(sidenav, menu) : onCloseSidenav(sidenav, menu)">
    <img id="menu" #menu src="../assets/img/menu.png" alt="">
</div>

<!-- Features -->

<app-feature></app-feature>

<!-- Service -->

<app-service></app-service>

<!-- Testimonial -->

<app-testimonial></app-testimonial>

<!-- Footer -->

<app-footer></app-footer>

<script>
    var sidenav = document.getElementById('side-nav');
    sidenav.style.right = "-250px";
    
</script>