<section id="feature">
    <div class="title-text">
        <p>FEATURES</p>
        <h1>Why Choose Us</h1>
    </div>
    <div class="feature-box">
        <div class="features">
            <h1>Experienced Staff</h1>
            <div class="features-desc">
                <div class="feature-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="features-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit quibusdam, nihil ad quas veniam!</p>
                </div>
            </div>
            <h1>Pre Booking Online</h1>
            <div class="features-desc">
                <div class="feature-icon">
                    <i class="fa fa-check-square-o"></i>
                </div>
                <div class="features-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit quibusdam, nihil ad quas veniam!</p>
                </div>
            </div>
            <h1>Affordable Cost</h1>
            <div class="features-desc">
                <div class="feature-icon">
                    <i class="fa fa-usd"></i>
                </div>
                <div class="features-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos reprehenderit quibusdam, nihil ad quas veniam!</p>
                </div>
            </div>
        </div>
        <div class="features-img">
            <img src="../assets/img/barber-man.jpg" alt="">
        </div>
    </div>
  </section>